<ul>
  <li>
    <%= link_to "Check Dates", precision_inputs_date_validation_path %>
  </li>
  <li>
    <%= link_to "Check Times", precision_inputs_time_validation_path %>
  </li>
  <li>
    <%= link_to "Check Addresses", precision_inputs_address_validation_path %>
  </li>
  <li>
    <%= link_to "Check Prices", precision_inputs_price_validation_path %>
  </li>
</ul>

<button class="btn btn-warning" onclick="CleanPrecisionInput()">Clean Out Empty Precision Readings</button>