<h1>Get Started with Super Scraper</h1>
<br />
<br />

<p>
  Here is the deal. This is super simple and you're gonna crush it!
  <br/>
  You sent out a list of event aggregators, like artsnowri.com, or yelp events for a particular location.
</p>
<ul>
  <li>This site is just a template.</li>
  <li>There is a bunch or random shit above and below the list that we want</li>
  <li>Then there is the comprehensive list of events that we really want</li>
</ul>

<p>
  Your mission, should you choose to accept it, is to find the right site, and tell our system what the template for these events are and how our scraper can navigate the site and grab all the event information from it.
</p>
<br />
<br />
<%= link_to "Get Started!", "/eventaggs" %>